Pada kesempatan kali ini kita akan menggunakan dataset pembelian sederhana

In [1]:
data_belanjaan = [
    ['Roti', 'Susu', 'Telur'],
    ['Roti', 'Keju'],
    ['Roti', 'Mentega', 'Telur'],
    ['Susu', 'Keju', 'Telur'],
    ['Roti', 'Susu'],
    ['Roti', 'Keju', 'Telur'],
    ['Roti', 'Susu', 'Mentega'],
    ['Keju', 'Mentega'],
    ['Roti', 'Susu', 'Keju'],
    ['Telur', 'Mentega'],
    ['Susu', 'Keju', 'Mentega'],
    ['Roti', 'Telur'],
    ['Roti', 'Susu', 'Keju', 'Mentega', 'Telur'],
    ['Susu', 'Keju'],
    ['Roti', 'Susu', 'Mentega', 'Telur'],
    ['Roti', 'Keju', 'Mentega'],
    ['Susu', 'Telur'],
    ['Roti', 'Susu', 'Keju'],
    ['Keju', 'Mentega', 'Telur'],
    ['Roti', 'Susu', 'Keju', 'Telur'],
    ['Roti', 'Susu', 'Keju', 'Mentega'],
    ['Roti', 'Keju', 'Mentega', 'Telur'],
    ['Roti', 'Keju', 'Telur'],
    ['Susu', 'Mentega', 'Telur'],
    ['Roti', 'Susu', 'Mentega', 'Keju'],
    ['Roti', 'Mentega'],
    ['Keju', 'Telur'],
    ['Roti', 'Susu', 'Keju', 'Mentega', 'Telur'],
    ['Roti', 'Keju', 'Telur'],
    ['Roti', 'Susu', 'Mentega']
]

In [5]:
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules
import pandas as pd

In [6]:
te = TransactionEncoder()
te_ary = te.fit(data_belanjaan).transform(data_belanjaan)
df = pd.DataFrame(te_ary, columns=te.columns_)

In [7]:
frequent_itemsets = apriori(df, min_support=0.2, use_colnames=True)
# Menampilkan frequent itemsets
print("Frequent Itemsets:")
display(frequent_itemsets)

Frequent Itemsets:

     support               itemsets
0   0.633333                 (Keju)
1   0.533333              (Mentega)
2   0.700000                 (Roti)
3   0.566667                 (Susu)
4   0.566667                (Telur)
5   0.300000        (Keju, Mentega)
6   0.433333           (Keju, Roti)
7   0.333333           (Keju, Susu)
8   0.333333          (Keju, Telur)
9   0.366667        (Roti, Mentega)
10  0.300000        (Susu, Mentega)
11  0.266667       (Telur, Mentega)
12  0.400000           (Susu, Roti)
13  0.366667          (Telur, Roti)
14  0.266667          (Telur, Susu)
15  0.200000  (Keju, Roti, Mentega)
16  0.233333     (Keju, Susu, Roti)
17  0.233333    (Keju, Telur, Roti)
18  0.233333  (Susu, Roti, Mentega)

In [8]:
# Mencari asosiasi aturan dengan confidence >= 0.7
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.7)

# Menampilkan asosiasi aturan
print("\nAssociation Rules:")
display(rules)

Association Rules:

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(Susu),(Roti),0.566667,0.7,0.400000,0.705882,1.008403,3.333333e-03,1.02,1.923077e-02
1,"(Keju, Susu)",(Roti),0.333333,0.7,0.233333,0.700000,1.000000,2.775558e-17,1.00,1.784287e-16
2,"(Keju, Telur)",(Roti),0.333333,0.7,0.233333,0.700000,1.000000,2.775558e-17,1.00,1.784287e-16
3,"(Susu, Mentega)",(Roti),0.300000,0.7,0.233333,0.777778,1.111111,2.333333e-02,1.35,1.428571e-01